/* General Styles */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }
  
  a {
    color: #0077cc;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }
  
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }
  
  .border-top {
    border-top: 1px solid #e5e5e5;
  }
  
  .border-bottom {
    border-bottom: 1px solid #e5e5e5;
  }
  
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
  
  button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
  }
  
  /* Footer */
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
  }

  /* for mobile view and small screens, moves the navbar to the bottom of the screen */
  @media (max-width: 576px) {
    /* Navbar moves to the bottom */
    nav.navbar {
      position: fixed;
      bottom: 0;
      width: 100%;
      z-index: 999;
    }
  
    /* Navbar text and button adjustments */
    nav.navbar a.nav-link {
      font-size: 14px; /* Smaller text size */
      padding: 10px 5px; /* Adjust padding */
    }
  
    nav.navbar .navbar-brand {
      font-size: 18px; /* Adjust brand size */
    }
  

    body {
      padding-bottom: 60px; 
    }
    .footertext{
      margin-bottom: 30px;
    }
  }
  main {
    flex: 1;
  }
  .wrapper{
    display: flex;
    flex-direction: column ;
    min-height: 100vh;
  }
  html, body {
    height: 100%;
    margin: 0;
}

.footer {
  background-color: #343a40; /* Match Bootstrap dark background */
  color: #fff;
  text-align: center;
  padding: 1rem;
  width: 100%; /* Ensure the footer spans the full width */
}