@{
    ViewData["Title"] = "Login";
}
<main>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card" style="margin-bottom: 5rem;">
                    <div class="card-header text-white text-center"
                            style="background-color: #314660;
                            outline:auto none;">
                        <h2>Login</h2>
                    </div>
                    <div class="card-body">
                        @if (!ViewData.ModelState.IsValid)
                        {   
                            <!-- Shows a validation error summary when the model state is invalid. -->
                            <div class="alert alert-danger">
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            </div>
                        }
                        <!-- Form for Login -->
                        <form asp-action="Login" method="post">
                            <!-- Username Input Field -->
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" id="username" name="username" class="form-control" required />
                            </div>
                            <!-- Password Input Field -->
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" id="password" name="password" class="form-control" required />
                            </div>
                            <!-- Submit Button -->
                            <button type="submit" class="btn text-white w-100"
                                style="background-color: #314660;
                                outline:auto none;">Login</button>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <p>New user? <a href="/Users/Register" style="color:  #343a40; text-decoration: underline;">Register here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>