Sub-Application-2/server/bin/
Sub-Application-2/server/obj/
Sub-Application-2/server/tmp/
*.db-wal
*.db-shm
Sub-Application-2/client/node_modules

Sub-Application-1/server/bin/
Sub-Application-1/server/obj/
Sub-Application-1/node_modules
Sub-Application-1/tmp/
*.dll
*.exe
*.pdb
*.nuget
*.user
*.log

