@model IEnumerable<Sub_Application_1.DTOs.PostDto>
<main>
    @{
        var username = ViewData["Username"] as string;
    }
    @if (!string.IsNullOrEmpty(username))
    {
        <!-- Posts Section -->
        <div class="posts-container mt-5">
            <div id="posts">
                @if (Model == null || !Model.Any())
                {
                    <p>No posts available. Start by creating one!</p>
                }
                else
                {
                    @await Html.PartialAsync("_PostsPartial", Model)
                }
            </div>
        </div>
    }
    else
    {
        <!-- Welcome Message -->
        <div class="container text-center mt-5">
            <h1 class="display-4">Welcome to the Application</h1>
            <p class="lead">Please log in or register to continue.</p>
            <div class="mt-4 mb-4">
                <a href="/Users/Login" class="btn text-white btn-lg me-3 px-4"
                    style="background-color: #314660;
                    outline:auto none;">Login</a>
                <a href="/Users/Register" class="btn text-white btn-lg"
                    style="background-color: #2f614e;
                    outline:auto none;">Register</a>
            </div>
        </div>
    }
</main>
