@model IEnumerable<Sub_Application_1.DTOs.PostDto>

@{
    ViewData["Title"] = "Posts";
}

<h1>Posts</h1>

<div class="row">
    @foreach (var post in Model)
    {
        <div class="col-md-4 mb-3">
            @Html.Partial("_PostCard", post)
        </div>
    }
</div>

<!-- Pagination controls (if applicable) -->
<div class="d-flex justify-content-center">
    <!-- Add pagination logic here -->
</div>
