<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />		<!-- makes phones not autoscale so we can control scaling width breakpoints-->
	<title>@ViewData["Title"] - YourAppName</title>
	<link href="~/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<script src="~/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
	@RenderSection("Scripts", required: false)

</head>

<body>
	<div class="wrapper">
		<header>
			<!-- Navigation Bar -->
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container">
					<a class="navbar-brand" asp-controller="Home" asp-action="Index"><h1>Unstagram</h1></a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
						aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav ms-auto">
							<li class="nav-item">
								<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
							</li>
							@if (User.Identity!=null && User.Identity.IsAuthenticated)
							{
								<li class="nav-item">
									<a class="nav-link btn btn-link" href="@Url.Action("Logout", "Users")">Logout</a>
								</li>
								<li class="nav-item">
									<a class="nav-link btn btn-link" asp-area="" asp-controller="Home"
										asp-action="CreatePost">Create</a>
								</li>
								<li class="nav-item">
									<a class="nav-link btn btn-link" asp-area="" asp-controller="Users"
										asp-action="Settings">Settings</a>
								</li>
								<li class="nav-item">
									<a class="nav-link btn btn-link" asp-area="" asp-controller="Home"
										asp-action="Profile">Profile</a>
								</li>
							}
							else
							{
								<li class="nav-item">
									<a class="nav-link" asp-area="" asp-controller="Users" asp-action="Login">Login</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" asp-area="" asp-controller="Users" asp-action="Register">Register</a>
								</li>
							}
						</ul>
					</div>
				</div>
			</nav>
		</header>

		<!-- Main Content -->
		<div class="container mt-4">
			@RenderBody()
		</div>

		<!-- Footer -->
		<footer>
			<p class="footertext">&copy; 2024 - Unstagram</p>
		</footer>
		</div>
	</body>

</html>