<link rel="stylesheet" href="/css/cards.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
@model Sub_Application_1.DTOs.PostDto

<div class="d-flex align-items-center">
    <!-- Like Button -->
    @if (User.Identity.IsAuthenticated)
    {
        @if (Model.Likes.Any(l => l.Username == User.Identity.Name))
        {
            <!-- Unlike Button -->
            <form method="post" action="/Likes/UnlikePost" class="me-3">
                <input type="hidden" name="postId" value="@Model.PostId" />
                <button type="submit" class="btn btn-light heart-icon-container">
                    <i class="bi bi-heart-fill text-danger"></i>
                </button>
            </form>
        }
        else
        {
            <!-- Like Button -->
            <form method="post" action="/Likes/LikePost" class="me-3">
                <input type="hidden" name="postId" value="@Model.PostId" />
                <button type="submit" class="btn btn-light heart-icon-container">
                    <i class="bi bi-heart"></i>
                </button>
            </form>
        }
    }
    <p>@Model.LikesCount</p>
</div>
